<div>
    <nav class="h-[50px] bg-gradient-to-b from-slate-950 from-75% to-[#5131f3] to-90% text-white top-0 flex justify-between items-center">
        <div class="flex w-auto items-center gap-1 ml-2">
            <img src="logo.png" alt="logo" class="w-10 h-10">
            <img src="LetrasLogo.png" alt="letras" class="w-35 h-8">
        </div>
        <div class="flex justify-between gap-1 items-center mr-2">
            <a href="">
                <lucide-angular [img]="userIcon"></lucide-angular>
            </a>
            <a href="">
                Login
            </a>
            <a href="">
                <lucide-angular [img]="justifyIcon"></lucide-angular>
            </a>
        </div>
    </nav>
</div>