<div class="bottom-0 bg-gradient-to-t from-slate-950 from-75% to-[#5131f3] to-90% text-white h-[7rem] w-full mt-2.5 sm:h-[10rem]">
    <div class="flex flex-col items-center gap-1">
        <img src="letrasLogo.png" alt="letras" class=" mt-1.5 w-30 sm:w-38 h-6 sm:h-8">
        <div class="flex gap-6">
            <div class="flex flex-col items-center">
                <p class="text-[12px] sm:text-[1rem] font-bold">Contacto</p>
                <div class="flex gap-1 items-center">
                    <lucide-angular [img]="mailIcon" class="w-5 sm:w-8"></lucide-angular>
                    <span class="text-[8px] sm:text-[1rem]">playvision&#64;gmail.com</span>
                </div>
            </div>
            <div>
                <p class="text-[12px] sm:text-[1rem] font-bold">Redes Sociales</p>
                <div class="flex gap-1 items-center justify-center">
                    <lucide-angular [img]="githubIcon" class="w-5 sm:w-8"/>
                    <lucide-angular [img]="linkedinIcon" class="w-5 sm:w-8"/>
                </div>
            </div>
            <div class="flex flex-col items-center gap-1">
                <p class="text-[12px] sm:text-[1rem] font-bold">Conócenos</p>
                <a [routerLink]="['/aboutUs']" class="text-[8px] sm:text-[1rem] underline">Sobre nosotros</a>
            </div>
            <div class="flex flex-col items-center gap-1">
                <p class="text-[12px] sm:text-[1rem] font-bold">Usuarios</p>
                <a [routerLink]="['/login']" class="text-[8px] sm:text-[1rem] underline">Login</a>
                <a [routerLink]="['/login']" class="text-[8px] sm:text-[1rem] underline">Registrase</a>
            </div>
        </div>
        <p class="text-[12px] sm:text-[1.2rem] mt-1">©2025 PlayVision Todos los derechos reservados</p>
    </div>
</div>