<div class="w-full flex flex-col items-center px-3">
    <h4 class="font-bold text-md">Preferencias y Favoritos</h4>
    <div class="w-full border-2 border-main h-fit rounded-2xl">
        <div class="flex justify-between p-2">
            <p class="font-semibold">Usuario: </p>
            <input type="text" placeholder="user" disabled class="border-2">
            <button class="w-[5.5rem] bg-main text-white rounded-2xl">Cambiar</button>
        </div>
        <div class="flex justify-between p-2">
            <p class="font-semibold">Correo: </p>
            <input type="text" placeholder="user@gmail.com" disabled class="border-2">
            <button class="w-[5.5rem] bg-main text-white rounded-2xl">Cambiar</button>
        </div>
        <div class="flex justify-between p-2">
            <p class="font-semibold">Contraseña: </p>
            <input type="password" placeholder="****" disabled class="border-2">
            <button class="w-[5.5rem] bg-main text-white rounded-2xl">Cambiar</button>
        </div>
        <div>
            <p>Cuenta creada: 11/11/2004</p>
        </div>
    </div>

</div>