<div class="grid grid-cols-3 grid-rows-3 w-full h-[3.5rem] border-2 border-main p-1.5 rounded-2xl text-center">
    <p class="col-start-2 col-end-3 text-xs font-semibold text-main">{{partido().status}}</p>
    <p class="col-start-2 col-end-3 text-sm row-start-2">{{partido().score}}</p>
    <img src="{{partido().teamALogo}}" class="w-[40px] col-start-3" alt="logo">
    <a [routerLink]="'/club/1/partidosClub'" class="col-start-1 col-end-2 text-sm font-semibold row-start-3">{{partido().teamA}}</a>
    <img src="{{partido().teamBLogo}}" class="w-[40px] col-start-1" alt="logo">
    <a [routerLink]="'/club/1/partidosClub'" class="col-start-3 col-end-4 text-sm font-semibold row-start-3">{{partido().teamA}}</a>
</div>