<container [title]="titleContainer()" [isCollapsable]="true" [isCollapsed]="isCollapsed()">
  <div class="flex flex-col gap-1 items-center h-[400px]">
    <div class="mt-2"></div>
    @if (isMatchXI()) {
      <div class="border-1 border-main w-[15rem] h-[1.8rem] flex rounded-2xl mt-2 text-white bg-black">
            <button class="w-full rounded-2xl text-[1rem] font-bold" [class.bg-main]="isHomeTeamSelected() === true" [class.bg-black]="isHomeTeamSelected() !== true" (click)="changeTeamSelected(true)">Home Team</button>
            <button class="w-full rounded-2xl text-[1rem] font-bold" [class.bg-main]="isHomeTeamSelected() === false" [class.bg-black]="isHomeTeamSelected() !== false" (click)="changeTeamSelected(false)">Away Team</button>
      </div>
    }
    @if (isClubXI()) {
      <p class="font-bold mt-2">Entrenador: <span class="text-main">Hansi Flick </span></p>          
    }
    <p class="font-bold mt-5">Formación: <span class="text-main"> 4-4-2</span></p>
    <div class="box-border w-full h-[300px] shadow-xs rounded-sm
        bg-[repeating-linear-gradient(90deg, rgba(0,0,0,0) 0, rgba(0,0,0,0) 17px, rgba(0,0,0,0.2) 17px, rgba(0,0,0,0.2) 34px)]">
          <div class="border-4 border-white w-full h-full relative z-10 bg-green-500">
                  <div class="middle absolute top-0 left-[calc(50%_-_1px)] h-full border-2 border-white"></div>
                  <div class="middle-circle absolute w-[82px] h-[82px] border-4 border-white rounded-full top-[calc(50%_-_41px)] left-[calc(50%_-_41px)]"></div>
            
                  <div class="bow is-left absolute w-[79px] h-[79px] border-4 border-white rounded-full top-[calc(50%_-_39.5px)] left-0"></div>
                  <div class="bow is-right absolute w-[79px] h-[79px] border-4 border-white rounded-full top-[calc(50%_-_39.5px)] right-0"></div>            
                  <div class="penalty-area is-left absolute w-[68px] h-[164px] border-4 border-white bg-green-500 top-[calc(50%_-_82px)] left-[-3px]"></div>
                  <div class="penalty-area is-right absolute w-[68px] h-[164px] border-4 border-white bg-green-500 top-[calc(50%_-_82px)] right-[-3px]"></div>
            
                  <div class="goal is-left absolute w-[27px] h-[110px] border-4 border-white top-[calc(50%_-_55px)] left-[-3px]">
                    <div class="penalty absolute w-[2px] h-[2px] bg-white rounded-full top-[calc(50%_-_4px)] left-[-14px]"></div>
                  </div>
                  <div class="goal is-right absolute w-[27px] h-[110px] border-4 border-white top-[calc(50%_-_55px)] right-[-3px]">
                    <div class="penalty absolute w-[2px] h-[2px] bg-white rounded-full top-[calc(50%_-_4px)] right-[-14px]"></div>
                  </div>
                  <div class="w-full h-full {{formationCode}}">
                    @for (playerItem of formationPlayers; track $index) {
                      <player-icon [attr.data.name]="playerItem.name" [playerName]="playerItem.name" [playerMedia]="playerItem.media" class="z-20 jugador j{{formationCode}}-{{playerItem.id}}"/>
                    }
                  </div>
          </div>
    </div>
      @if (isClubXI()) {
        <p class="font-bold mt-2">Suplentes</p>
      }
  </div>
</container>