<div class="mb-2 flex flex-col w-full h-fit gap-2 px-0.5">
    <p class="text-center">Competiciones temporada 2025</p>
    <league-matches [titleContainer]="'La Liga'" [tournamentMatches]="tournamentClubMatches()" [hashFlag]="true" class="mb-2"></league-matches>
    <league-matches [titleContainer]="'Copa del Rey'" [tournamentMatches]="tournamentClubMatches()" [hashFlag]="true" class="mb-2"></league-matches>
    <league-matches [titleContainer]="'Supercopa de España'" [tournamentMatches]="tournamentClubMatches()" [hashFlag]="true" class="mb-2"></league-matches>
    <league-matches [titleContainer]="'Champions'" [tournamentMatches]="tournamentClubMatches()" [hashFlag]="true" class="mb-2"></league-matches>
</div>