<div class="bottom-0 bg-gradient-to-t from-slate-950 from-75% to-[#5131f3] to-90% text-white h-[6.5rem] w-full">
    <div class="flex flex-col items-center gap-1">
        <img src="letrasLogo.png" alt="letras" class=" mt-1.5 w-30 h-6">
        <div class="flex gap-6">
            <div class="flex flex-col items-center">
                <p class="text-[10px] font-bold">Contacto</p>
                <div class="flex gap-1 items-center">
                    <lucide-angular [img]="mailIcon" class="w-3"></lucide-angular>
                    <span class="text-[8px]">playvision&#64;gmail.com</span>
                </div>
            </div>
            <div>
                <p class="text-[10px] font-bold">Redes Sociales</p>
                <div class="flex gap-1 items-center justify-center">
                    <lucide-angular [img]="githubIcon" class="w-5"></lucide-angular>
                    <lucide-angular [img]="linkedinIcon" class="w-5"></lucide-angular>
                </div>
            </div>
            <div class="flex flex-col items-center gap-1">
                <p class="text-[10px] font-bold">Conócenos</p>
                <a [routerLink]="['/aboutUs']" class="text-[8px]">Sobre nosotros</a>
            </div>
            <div class="flex flex-col items-center gap-1">
                <p class="text-[10px] font-bold">Usuarios</p>
                <a [routerLink]="['/login']" class="text-[8px]">Login</a>
                <a [routerLink]="['/login']" class="text-[8px]">Registrase</a>
            </div>
        </div>
        <p class="text-[8px] mt-1">©2025 PlayVision Todos los derechos reservados</p>
    </div>
</div>